<h1>HedgesList</h1>

<h2>A place where you can sell all the things!</h2>

<h3>Create new user account.</h3>
<form method="post" action='/'>
  <input type="text" name="username" placeholder="Username">
  <input type="password" name="password" placeholder="Password">
  <button type="submit" name="create_account">Create Account</button>
</form>

<p>Take some time and <a href="/post-a-sale">post something</a> that you'd like to get rid of </p>

<p>or feel free to <a href="/view-all-listings">browse our listings</a>.</p>
